#promo .want {
    font-size: 60px;
}
#promo p {
    font-size: 20px;
}
#second #phoneBigHelp {
    font-size: 35px;
}
#second #phoneBig {
    font-size: 130px;
}
#second .how .title h2 {
    display: inline;
}